html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 1, 6, 225);
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

#navbarContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 0.3s ease;
}

#logo {
    float: left;
    margin-left: 20px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

#navItems {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#navItems a.active {
    text-decoration: underline;
    /* Underline the link when it's active */
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.city1 {
    background: url(./assets/Tokyo1.jpg);
    background-size: cover;
}

.city2 {
    background: url(./assets/Kyoto1.jpg);
    background-size: cover;
}

.city3 {
    background: url(./assets/Osaka1.jpg);
    background-size: cover;
}

.city4 {
    background: url(./assets/Nara1.jpg);
    background-size: cover;
}

.city5 {
    background: url(./assets/Hiroshima1.jpg);
    background-size: cover;
}

.city6 {
    background: url(./assets/Yokohama1.jpg);
    background-size: cover;
}


.example {
    height: 800px;
}

::-webkit-scrollbar {
    display: none;
}




.label {
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.cities h3 {
    text-decoration: none;
    font-size: 20px;
}

.cityButton:hover {
    text-decoration: underline;
}

.big {
    grid-column: span 2;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}



/* GRID GALLERY STYLE */



.preferences-form {
    color: white;
}

.itineraryContainer {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    height: auto;
}

.card {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.card-content {
    position: relative;
    height: 100%;
}

.card-content img {
    width: 100%;
    height: 100%;
}

.city-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 15px;
}

.selected {
    background-color: lightblue;
}